body {
    font-family: 'Times New Roman', serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    color: #1d4e89; 
    margin-bottom: 30px;
    letter-spacing: 2px;
}


p {
    font-size: 1em;
    margin-bottom: 20px;
}


em {
    font-style: italic;
}


ol {
    margin-left: 20px;
    margin-bottom: 40px;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 150px;
    height: auto;
}
